<footer class="app-tech-footer">
  <div class="foot-container">
    <div class="footer-headers">
        <!-- menu -->
      <div class="footer-left-links">
        <div class="links">Links</div>
        <div>
          <a routerLink="/home" routerLinkActive="active">Home</a>
          <a>Services
                  <ul class="submenu">
                    <li><a href="it-staffing.html">IT Staffing</a></li>
                    <li><a href="procurement.html">Procurement Sourcing Services</a></li>
                    <li><a href="client-augmentation.html">Client Site Augmentation</a></li>
                    <li><a href="finance-accounting.html">Finance &amp; Accounting</a></li>
                    <li><a href="direct-hire.html">Direct Hire</a></li>
                    <li><a href="industries.html">Industries</a></li>
                  </ul>
                </a>
          <a routerLink="/solutions" routerLinkActive="active">Solutions</a>
          <a routerLink="/careers" routerLinkActive="active">Careers</a>
          <a routerLink="/clients" routerLinkActive="active">Clients</a>
          <a routerLink="/about" routerLinkActive="active">About</a>
          <a routerLink="/contactUs" routerLinkActive="active">Contact US</a>
        </div>
      </div>
      <div class="footer-right-links">
        <div class="links">CONNECT WITH US</div>
        <div>
          <a id="btn-facebook" mat-button  class="social-media-icon"  target="_blank" href="https://www.facebook.com/t-techpartners">
            <i class="zmdi zmdi-facebook-box zmdi-hc-2x mdc-text-grey"></i>
          </a>

          <a id="btn-facebook" mat-button  class="social-media-icon"  target="_blank" href="https://www.twitter.com/t-techpartners">
            <i class="zmdi zmdi-twitter-box zmdi-hc-2x mdc-text-grey"></i>
          </a>

          <a id="btn-facebook" mat-button  class="social-media-icon"  target="_blank" href="https://www.linkedin.com/t-techpartners">
            <i class="zmdi zmdi-linkedin-box zmdi-hc-2x mdc-text-grey"></i>
          </a>
          <a id="btn-facebook" mat-button  class="social-media-icon"  target="_blank" href="https://www.youtube.com/t-techpartners">
            <i class="zmdi zmdi-youtube-play zmdi-hc-2x mdc-text-grey"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
    <div class ="copy-right">
      <p>Copyright © 2020 T-Tech. All Right Reserved | Designed by : T-Tech</p>
    </div>
</footer>
