.app-tech-footer {
  background-color: #a9a9a9;
  padding: 0 !important;

  .foot-container {
   

    .footer-headers {
      text-align: right;
      display: inline-flex;
      width: 100%;
      justify-content: space-between;
      padding-top: 20px;
      .footer-left-links {
      width: 25%;
        a {
          float: left;
          color: #f2f2f2;
          padding: 25px 25px;
          text-decoration: none;
          font-size: 16px;
          font-weight: bold;
        }

      }
    .footer-right-links {
      width: 20%;
      a {
        float: left;
        color: #f2f2f2;
        padding: 25px 25px;
        font-size: 16px;
        font-weight: bold;
      }
     
    }
      
    }
  }

}

.copy-right p {
	text-align: center;
	font-size: medium;
  color: #f2f2f2;
  padding-bottom: 10px;;
}

.links {
  text-align: center;
}

